Repository docdyhr/batless: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, cargo-check

cargo-fmt:
  name: Cargo format
  entry: cargo fmt -- --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: Cargo clippy
  entry: cargo clippy -- -D warnings
  language: system
  pass_filenames: false

cargo-test:
  name: Cargo test
  entry: cargo test --lib --quiet
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-check:
  name: Cargo check
  entry: cargo check
  language: system
  pass_filenames: false

fix(ci): increase timeout limits for CI jobs
  .github/workflows/ci-optimized.yml
  .github/workflows/ci-unified.yml
  .github/workflows/ci.yml
  .github/workflows/performance-optimized.yml
Due: none

fix(ci): resolve CI/CD workflow failures
  .github/workflows/test-consolidated.yml
  .github/workflows/testing.yml
  Cargo.toml
  tests/cli_coverage_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-check

feat: add AST-based code summarization and context truncation tracking
  Cargo.lock
  src/ast_summarizer.rs
  src/file_info.rs
  src/formatter.rs
  src/formatters/json_formatter.rs
  src/lib.rs
  src/main.rs
  tests/ast_summarizer_test.rs
  tests/integration_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-check

docs: fix CLAUDE.md to match actual CLI behavior
  CLAUDE.md
  tests/cli_documentation_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat: add Python AST summarization support
  Cargo.lock
  Cargo.toml
  src/ast_summarizer.rs
  tests/ast_summarizer_python_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-check

feat: add JavaScript and TypeScript AST summarization support
  Cargo.lock
  Cargo.toml
  src/ast_summarizer.rs
  tests/ast_summarizer_js_ts_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-check

docs: add v0.4.0 release checklist and AST feature documentation
  RELEASE_CHECKLIST_v0.4.0.md
Due: none

release: version 0.4.0 - Multi-language AST support
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: cargo-check

fix(ci): resolve CI/CD workflow failures
  .github/workflows/ci.yml
  .github/workflows/release-consolidated.yml
Due: none

fix(ci): remove target-cpu=native from RUSTFLAGS
  .github/workflows/ci-optimized.yml
  .github/workflows/ci.yml
  .github/workflows/performance-optimized.yml
Due: none

fix(ci): remove invalid --workspace flag from cargo llvm-cov report
  .github/workflows/quality.yml
Due: none

fix(ci): improve health-check duplicate dependency detection
  .github/workflows/health-check.yml
Due: none

fix(ci): remove ineffective push/pr triggers from cross-platform validation
  .github/workflows/cross-platform-validation.yml
Due: none

fix: resolve pedantic clippy warnings and shellcheck issues
  .github/workflows/ci-optimized.yml
  .github/workflows/ci-unified.yml
  .github/workflows/ci.yml
  .github/workflows/cross-platform-validation.yml
  .github/workflows/docker-improved.yml
  .github/workflows/fuzz.yml
  .github/workflows/health-check.yml
  .github/workflows/performance-consolidated.yml
  .github/workflows/performance-optimized.yml
  .github/workflows/quality-consolidated.yml
  .github/workflows/quality.yml
  .github/workflows/release-consolidated.yml
  .github/workflows/release-v2.yml
  .github/workflows/tag-after-release-pr.yml
  .github/workflows/testing.yml
  .github/workflows/update-homebrew.yml
  src/ast_summarizer.rs
  src/config.rs
  src/error.rs
  src/file_info.rs
  src/formatters/plain_formatter.rs
  src/highlighter.rs
  src/lib.rs
  src/processor.rs
  src/processor_builder.rs
  src/profile.rs
  src/summarizer.rs
  src/tokens/counting.rs
  src/tokens/extraction.rs
  src/wizard.rs
Due: cargo-fmt, cargo-clippy, cargo-test

chore: update markdownlint config and fix table formatting
  .markdownlint-cli2.jsonc
  .markdownlint.jsonc
  .markdownlint.yaml
  docs/PRD_GIT_INTEGRATION.md
Due: none

refactor: improve error handling with more specific error types and context
  src/error.rs
  src/formatter.rs
  src/formatters/error_formatter.rs
  src/highlighter.rs
  src/processor.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(ci): resolve security issues, bugs, and redundancy across CI/CD pipelines
  .github/workflows/changelog.yml
  .github/workflows/ci-optimized.yml
  .github/workflows/ci-unified.yml
  .github/workflows/ci.yml
  .github/workflows/cross-platform-validation.yml
  .github/workflows/docker-improved.yml
  .github/workflows/health-check.yml
  .github/workflows/performance-consolidated.yml
  .github/workflows/performance-optimized.yml
  .github/workflows/quality-consolidated.yml
  .github/workflows/quality.yml
  .github/workflows/release-consolidated.yml
  .github/workflows/release-v2.yml
  .github/workflows/security.yml
  .github/workflows/tag-after-release-pr.yml
  .github/workflows/testing.yml
  .github/workflows/update-homebrew.yml
  .gitignore
  Cargo.toml
  src/error.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-check

feat: wire tree-sitter AstSummarizer into summary mode pipeline
  src/processor.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(ci): remove 8 deprecated workflows and consolidate release pipeline
  .github/workflows/ci-optimized.yml
  .github/workflows/ci-unified.yml
  .github/workflows/ci.yml
  .github/workflows/cross-platform-validation.yml
  .github/workflows/docker-improved.yml
  .github/workflows/performance-optimized.yml
  .github/workflows/quality.yml
  .github/workflows/release-consolidated.yml
  .github/workflows/release-v2.yml
  .github/workflows/tag-after-release-pr.yml
  .github/workflows/testing.yml
Due: none

chore(ci): reduce scheduled workflow frequency and add concurrency controls
  .github/workflows/changelog.yml
  .github/workflows/fuzz.yml
  .github/workflows/health-check.yml
  .github/workflows/security.yml
Due: none

fix: eliminate unwrap panics, improve test reliability, and optimize error handling
  src/ast_summarizer.rs
  src/config_manager.rs
  src/error.rs
  src/processor.rs
  src/wizard.rs
  tests/cli_coverage_tests.rs
  tests/cli_documentation_tests.rs
  tests/integration_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test

refactor: extract validation logic from config.rs into config_validation.rs
  src/config.rs
  src/config_validation.rs
  src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(ci): resolve cross-platform-validation workflow parse errors on push
  .github/workflows/cross-platform-validation.yml
Due: none

deps: update 66 compatible dependencies
  Cargo.lock
Due: cargo-check

fix(ci): use github.event.inputs context for cross-platform-validation
  .github/workflows/cross-platform-validation.yml
Due: none

fix(ci): wrap cross-platform-validation inputs in explicit expressions
  .github/workflows/cross-platform-validation.yml
Due: none

fix(ci): replace matrix.shell with explicit shell in cross-platform workflow
  .github/workflows/cross-platform-validation.yml
Due: none

chore: release v0.4.1
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: cargo-check

feat: add Google Gemini model support and update Claude model naming
  src/config_manager.rs
  src/tokens/counting.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(ci): bump MSRV to 1.82 and fix cross-platform validation test
  .github/workflows/cross-platform-validation.yml
  .github/workflows/test-consolidated.yml
  Cargo.toml
Due: cargo-check

fix(security): harden stdin processing and tree-sitter parsing
  src/ast_summarizer.rs
  src/config_manager.rs
  src/processor.rs
Due: cargo-fmt, cargo-clippy, cargo-test

ci(security): use cargo-deny-action v2 instead of manual install
  .github/workflows/security.yml
Due: none

test: add coverage for parse timeout and stdin truncation
  src/ast_summarizer.rs
  tests/integration_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test

test: cover parse timeout cancellation path via zero-duration deadline
  src/ast_summarizer.rs
Due: cargo-fmt, cargo-clippy, cargo-test

chore: bump MSRV to 1.85 to match clap 4.6.0 requirement
  Cargo.toml
Due: cargo-check

ci: fix MSRV version and cross-platform CI failures
  .github/workflows/cross-platform-validation.yml
  .github/workflows/test-consolidated.yml
Due: none

feat(me4): add --chunk-strategy=semantic for streaming
  src/chunker.rs
  src/config.rs
  src/config_manager.rs
  src/lib.rs
  src/streaming.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat: AI/LLM efficiency improvements (QW-1 through QW-6, ME-1)
  Cargo.lock
  Cargo.toml
  src/ast_summarizer.rs
  src/config.rs
  src/config_manager.rs
  src/file_info.rs
  src/formatter.rs
  src/formatters/json_formatter.rs
  src/formatters/summary_formatter.rs
  src/json_schema.rs
  src/lib.rs
  src/main.rs
  src/processor.rs
  src/processor_builder.rs
  src/summarizer.rs
  src/summary_item.rs
  src/traits.rs
  tests/ast_summarizer_js_ts_test.rs
  tests/ast_summarizer_python_test.rs
  tests/ast_summarizer_test.rs
  tests/cli_coverage_tests.rs
  tests/cli_documentation_tests.rs
  tests/integration_tests.rs
  tests/property_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-check

feat(sf1): add --mode=index symbol index output mode
  src/config_manager.rs
  src/formatter.rs
  src/formatters/index_formatter.rs
  src/formatters/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test

chore: release v0.5.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  tests/integration_tests.rs
  tests/streaming_coverage_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-check

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-check: any of: Cargo\.(toml|lock)$
