Repository docdyhr/batless: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, cargo-check

cargo-fmt:
  name: Cargo format
  entry: cargo fmt -- --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: Cargo clippy
  entry: cargo clippy -- -D warnings
  language: system
  pass_filenames: false

cargo-test:
  name: Cargo test
  entry: cargo test --lib --quiet
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-check:
  name: Cargo check
  entry: cargo check
  language: system
  pass_filenames: false

feat(me-2): expose estimated_llm_tokens in JSON output
  src/config_manager.rs
  src/file_info.rs
  src/formatter.rs
  src/formatters/json_formatter.rs
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat: AI/LLM efficiency improvements (QW-1 through QW-6, ME-1)
  src/summary_item.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(me3): add --strip-comments and --strip-blank-lines flags
  src/config.rs
  src/config_manager.rs
  src/file_info.rs
  src/formatter.rs
  src/formatters/json_formatter.rs
  src/processor.rs
Due: cargo-fmt, cargo-clippy, cargo-test

chore: remove dead code and clean stale comments
  src/ast_summarizer.rs
  src/lib.rs
  src/processor_builder.rs
Due: cargo-fmt, cargo-clippy, cargo-test

docs: rewrite ROADMAP and remove stale documentation
  RELEASE_CHECKLIST_v0.4.0.md
  ROADMAP.md
  TODO.md
  docs/CLAUDE_INTEGRATION_ISSUE.md
  docs/DESIGN_v0.3.0_PLUGINS.md
  docs/DEVELOPMENT_ROADMAP.md
  docs/FEATURE_PROPOSAL_LINE_RANGE.md
  docs/IMPROVED_ERROR_MESSAGES_PLAN.md
  docs/PERFORMANCE_BASELINE.md
  docs/PERFORMANCE_REPORT.md
  docs/PHILOSOPHY.md
  docs/PRD_GIT_INTEGRATION.md
  docs/RELEASE_ANALYSIS_V0.2.2.md
  docs/benchmark_baseline.md
  docs/mode-benchmark.md
  docs/plain_bench.md
  docs/planning/GITHUB_ACTIONS_UPDATE_PLAN.md
  docs/planning/NEXT_STEPS.md
  docs/planning/WORKFLOW_CONSOLIDATION_PLAN.md
Due: none

refactor: remove dead code identified in v0.5.0 review
  src/config.rs
  src/debt_prevention.rs
  src/formatters/json_formatter.rs
  src/formatters/mod.rs
  src/formatters/plain_formatter.rs
  src/formatters/summary_formatter.rs
  src/lib.rs
  src/performance.rs
  src/traits.rs
Due: cargo-fmt, cargo-clippy, cargo-test

refactor: extract shared post-processing pipeline for process_stdin parity
  src/processor.rs
Due: cargo-fmt, cargo-clippy, cargo-test

ci: replace CARGO_REGISTRY_TOKEN with crates.io trusted publishing
  .github/workflows/publish-crate.yml
  .github/workflows/release-consolidated.yml
Due: none

ci: bump crates-io-auth-action to v1.0.4 (Node.js 24)
  .github/workflows/publish-crate.yml
  .github/workflows/release-consolidated.yml
Due: none

docs: update CLAUDE.md with v0.5.0 features
  CLAUDE.md
Due: none

fix: explicit --mode overrides profile default output mode
  src/config_manager.rs
  tests/integration_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test

ci: pin all GitHub Actions to commit SHAs; accept bincode advisory
  .github/scripts/pipeline-health-check.sh
  .github/workflows/changelog.yml
  .github/workflows/ci-optimized.yml
  .github/workflows/cross-platform-validation.yml
  .github/workflows/fuzz.yml
  .github/workflows/health-check.yml
  .github/workflows/performance-consolidated.yml
  .github/workflows/publish-crate.yml
  .github/workflows/quality-consolidated.yml
  .github/workflows/release-consolidated.yml
  .github/workflows/security.yml
  .github/workflows/test-consolidated.yml
  .github/workflows/update-homebrew.yml
  deny.toml
Due: none

fix(deps): upgrade sha2 0.10 → 0.11, fix LowerHex removal
  Cargo.lock
  Cargo.toml
  src/processor.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-check

fix(security): harden workflow permissions and pin Dockerfile images
  .github/workflows/publish-crate.yml
  .github/workflows/quality-consolidated.yml
  .github/workflows/release-consolidated.yml
  .github/workflows/security.yml
  .github/workflows/test-consolidated.yml
  Dockerfile
Due: none

feat(observability): Add usage logging and stats analysis tools
  docs/USAGE_TRACKING.md
  scripts/batless-logger
  scripts/batless-stats
Due: none

deps: upgrade dirs 5 → 6 to drop transitive redox_users/getrandom 0.2
  Cargo.lock
  Cargo.toml
Due: cargo-check

docs: pivot project positioning to AI-native structured output
  CLAUDE.md
  README.md
  ROADMAP.md
Due: none

fix(scorecard): pin dependencies and harden branch protection
  .github/scripts/pipeline-health-check.sh
  .github/workflows/quality-consolidated.yml
Due: none

feat(v0.6.0): AI-native reposition — remove syntect, add --mode=ast and directory index
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  src/config.rs
  src/config_manager.rs
  src/config_validation.rs
  src/error.rs
  src/formatter.rs
  src/formatters/ast_formatter.rs
  src/formatters/error_formatter.rs
  src/formatters/json_formatter.rs
  src/formatters/mod.rs
  src/formatters/plain_formatter.rs
  src/formatters/summary_formatter.rs
  src/highlighter.rs
  src/language.rs
  src/lib.rs
  src/main.rs
  src/profile.rs
  src/wizard.rs
  tests/cli_coverage_tests.rs
  tests/cli_documentation_tests.rs
  tests/integration_tests.rs
  tests/property_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-check

fix(scorecard): fix pip hash verification and restore npm audit
  .github/scripts/pipeline-health-check.sh
Due: none

fix(review): address PR #120 review thread bugs
  scripts/batless-logger
  src/formatters/ast_formatter.rs
  src/language.rs
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(scorecard): pin dependencies and harden branch protection (#119)
  .github/scripts/pipeline-health-check.sh
  .github/workflows/quality-consolidated.yml
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  README.md
  ROADMAP.md
  docs/USAGE_TRACKING.md
  scripts/batless-logger
  scripts/batless-stats
Due: cargo-check

fix(review): address remaining PR #120 review threads
  src/formatters/ast_formatter.rs
  src/language.rs
  tests/property_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(v0.6.0): AI-native reposition — remove syntect, add --mode=ast and directory index (#120)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  scripts/batless-logger
  src/config.rs
  src/config_manager.rs
  src/config_validation.rs
  src/error.rs
  src/formatter.rs
  src/formatters/ast_formatter.rs
  src/formatters/error_formatter.rs
  src/formatters/json_formatter.rs
  src/formatters/mod.rs
  src/formatters/plain_formatter.rs
  src/formatters/summary_formatter.rs
  src/highlighter.rs
  src/language.rs
  src/lib.rs
  src/main.rs
  src/profile.rs
  src/wizard.rs
  tests/cli_coverage_tests.rs
  tests/cli_documentation_tests.rs
  tests/integration_tests.rs
  tests/property_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-check

fix(release): replace dawidd6 action with direct formula push
  .github/workflows/release-consolidated.yml
Due: none

fix(ci): correct SHA env-var passing and Ruby test escaping in update-homebrew
  .github/workflows/release-consolidated.yml
Due: none

fix(ci): extract Python heredoc to script file to fix YAML parse error
  .github/scripts/update_homebrew_formula.py
  .github/workflows/release-consolidated.yml
Due: none

fix(lint): use Duration::from_secs for 1-second timeout (clippy::duration_suboptimal_units)
  src/chunker.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(ci): escape #{bin} f-string interpolation in Homebrew formula
  .github/scripts/update_homebrew_formula.py
Due: none

fix(ci): extract Python heredoc + fix clippy Duration lint + fix f-string escape (#126)
  .github/scripts/update_homebrew_formula.py
  .github/workflows/release-consolidated.yml
  src/chunker.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(ci): tighten tag-after-merge condition to avoid false triggers
  .github/workflows/release-consolidated.yml
Due: none

fix(ci): tighten tag-after-merge condition to avoid false triggers (#127)
  .github/workflows/release-consolidated.yml
Due: none

fix(scorecard): pin npm/pip deps and switch markdownlint to SHA-pinned action
  .github/scripts/pipeline-health-check.sh
  .github/workflows/quality-consolidated.yml
Due: none

fix(ci): remove v0.6.0 stale refs and fix clippy raw-string lint
  .github/workflows/performance-consolidated.yml
  benches/performance.rs
  src/config.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(scorecard): pin npm/pip deps and switch markdownlint to SHA-pinned action (#129)
  .github/scripts/pipeline-health-check.sh
  .github/workflows/quality-consolidated.yml
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-check: any of: Cargo\.(toml|lock)$
