Repository docdyhr/batless: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, cargo-check

.pre-commit-config.yaml:

default_language_version:
  python: python3
  node: system

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: '^\.github/workflows/'
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-toml
      - id: check-json
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Rust-specific checks
  - repo: local
    hooks:
      - id: cargo-fmt
        name: Cargo format
        entry: cargo fmt -- --check
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-clippy
        name: Cargo clippy
        entry: cargo clippy -- -D warnings
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-test
        name: Cargo test
        entry: cargo test --lib --quiet
        language: system
        files: '\.rs$'
        pass_filenames: false
        stages: [pre-push]

      - id: cargo-check
        name: Cargo check
        entry: cargo check
        language: system
        files: 'Cargo\.(toml|lock)$'
        pass_filenames: false

  # Markdown checks (temporarily disabled for commit)
  # - repo: https://github.com/igorshubovych/markdownlint-cli
  #   rev: v0.41.0
  #   hooks:
  #     - id: markdownlint
  #       args: ['--fix']
  #       exclude: '^(CHANGELOG\.md|\.github/.*\.md)$'

  # Security scanning
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: '^(Cargo\.lock|.*\.lock)$'

fix(lint): resolve clippy warnings in tests, benches, and examples
  benches/performance.rs
  examples/theme-showcase.rs
  src/file_info.rs
  tests/ast_summarizer_js_ts_test.rs
  tests/ast_summarizer_python_test.rs
  tests/ast_summarizer_test.rs
  tests/cli_coverage_tests.rs
  tests/streaming_coverage_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(lint): resolve clippy warnings in tests, benches, and examples (#167)
  benches/performance.rs
  examples/theme-showcase.rs
  src/file_info.rs
  tests/ast_summarizer_js_ts_test.rs
  tests/ast_summarizer_python_test.rs
  tests/ast_summarizer_test.rs
  tests/cli_coverage_tests.rs
  tests/streaming_coverage_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(ci): grant missing permissions to health-check and release workflows
  .github/workflows/health-check.yml
  .github/workflows/release-consolidated.yml
Due: none

fix(ci): grant missing permissions to health-check and release workflows (#168)
  .github/workflows/health-check.yml
  .github/workflows/release-consolidated.yml
Due: none

fix(security): pin reusable workflow SHAs and scope token permissions
  .github/workflows/ci-optimized.yml
  .github/workflows/codeql.yml
  .github/workflows/cross-platform-validation.yml
  .github/workflows/health-check.yml
  .github/workflows/performance-consolidated.yml
  .github/workflows/quality-consolidated.yml
  .github/workflows/release-consolidated.yml
  .github/workflows/security.yml
  .github/workflows/test-consolidated.yml
Due: none

fix(security): pin reusable workflow SHAs and scope token permissions (#170)
  .github/workflows/ci-optimized.yml
  .github/workflows/codeql.yml
  .github/workflows/cross-platform-validation.yml
  .github/workflows/health-check.yml
  .github/workflows/performance-consolidated.yml
  .github/workflows/quality-consolidated.yml
  .github/workflows/release-consolidated.yml
  .github/workflows/security.yml
  .github/workflows/test-consolidated.yml
Due: none

fix(lint): replace assert! equality checks with assert_eq!
  src/formatter.rs
  tests/integration_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(security): bump crossbeam-epoch to 0.9.20 (RUSTSEC-2026-0204)
  Cargo.lock
Due: cargo-check

fix(security): bump crossbeam-epoch to 0.9.20 (RUSTSEC-2026-0204) (#181)
  Cargo.lock
Due: cargo-check

fix(lint): replace assert! equality checks with assert_eq! (#180)
  src/formatter.rs
  tests/integration_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test

chore(github): remove unused composite actions and dead CI scripts
  .github/actions/run-tests/action.yml
  .github/actions/setup-rust/action.yml
  .github/scripts/auto-fix-pipeline.sh
  .github/scripts/ci-health-check.sh
  .github/scripts/ci-health-monitor.sh
  .github/scripts/collect-metrics.sh
  .github/scripts/pipeline-health-check.sh
  .github/scripts/pipeline-health-monitor.sh
  .github/scripts/workflow-performance-monitor.sh
Due: none

chore(github): remove unused composite actions and dead CI scripts (#182)
  .github/actions/run-tests/action.yml
  .github/actions/setup-rust/action.yml
  .github/scripts/auto-fix-pipeline.sh
  .github/scripts/ci-health-check.sh
  .github/scripts/ci-health-monitor.sh
  .github/scripts/collect-metrics.sh
  .github/scripts/pipeline-health-check.sh
  .github/scripts/pipeline-health-monitor.sh
  .github/scripts/workflow-performance-monitor.sh
Due: none

fix(ci): grant security-events:write to Security Review workflow
  .github/workflows/security.yml
Due: none

fix(ci): grant security-events:write to Security Review workflow (#184)
  .github/workflows/security.yml
Due: none

fix(security): suppress low-confidence Semgrep urllib findings in formula script
  .github/scripts/update_homebrew_formula.py
Due: none

fix(security): suppress low-confidence Semgrep urllib findings in formula script (#185)
  .github/scripts/update_homebrew_formula.py
Due: none

fix(security): correct nosemgrep suppression placement for urllib findings
  .github/scripts/update_homebrew_formula.py
Due: none

Potential fix for pull request finding
  .github/scripts/update_homebrew_formula.py
Due: none

fix(security): correct nosemgrep suppression placement for urllib findings (#186)
  .github/scripts/update_homebrew_formula.py
Due: none

refactor!: remove tree-sitter, AST mode, streaming, and JSON schema
  Cargo.lock
  Cargo.toml
  src/ast_summarizer.rs
  src/chunker.rs
  src/config.rs
  src/config_manager.rs
  src/config_validation.rs
  src/formatter.rs
  src/formatters/ast_formatter.rs
  src/formatters/index_formatter.rs
  src/formatters/mod.rs
  src/json_schema.rs
  src/lib.rs
  src/main.rs
  src/processor.rs
  src/streaming.rs
  tests/ast_summarizer_js_ts_test.rs
  tests/ast_summarizer_python_test.rs
  tests/ast_summarizer_test.rs
  tests/cli_coverage_tests.rs
  tests/integration_tests.rs
  tests/streaming_coverage_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-check

refactor!: remove AI profiles and token estimation
  .batless/profiles/documentation-profile.json
  .batless/profiles/my-coding-profile.json
  benches/performance.rs
  src/config.rs
  src/config_manager.rs
  src/config_validation.rs
  src/file_info.rs
  src/formatter.rs
  src/formatters/index_formatter.rs
  src/formatters/json_formatter.rs
  src/formatters/summary_formatter.rs
  src/lib.rs
  src/main.rs
  src/processor.rs
  src/profile.rs
  src/tokens.rs
  src/tokens/counting.rs
  src/tokens/extraction.rs
  src/traits.rs
  tests/cli_coverage_tests.rs
  tests/cli_documentation_tests.rs
  tests/integration_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test

refactor!: remove --mode=summary and --hash
  Cargo.lock
  Cargo.toml
  benches/performance.rs
  src/config.rs
  src/config_manager.rs
  src/file_info.rs
  src/formatter.rs
  src/formatters/index_formatter.rs
  src/formatters/json_formatter.rs
  src/formatters/mod.rs
  src/formatters/summary_formatter.rs
  src/lib.rs
  src/main.rs
  src/processor.rs
  tests/cli_documentation_tests.rs
  tests/integration_tests.rs
  tests/property_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-check

chore: verify binary size, dependency tree, and refresh package metadata
  Cargo.toml
  tests/integration_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-check

docs: rewrite documentation for the plain-viewer scope
  .github/RELEASE_CHECKLIST.md
  .github/scripts/update_homebrew_formula.py
  CHANGELOG.md
  CLAUDE.md
  README.md
  RELEASE.md
  ROADMAP.md
  completions/_batless
  completions/batless.bash
  completions/batless.fish
  completions/batless.ps1
  demo.sh
  docs/AI_EDITOR_INTEGRATION.md
  docs/ARCHITECTURE.md
  docs/PHILOSOPHY_AND_SCOPE.md
  scripts/batless-logger
  scripts/batless-stats
  src/config_manager.rs
  src/file_info.rs
  src/formatters/json_formatter.rs
Due: cargo-fmt, cargo-clippy, cargo-test

chore: remove theme/AI cruft and fix remaining stale references
  .github/dependabot.yml
  deny.toml
  docs/DEVELOPMENT_GUIDE.md
  docs/USAGE_TRACKING.md
  docs/themes/InspiredGitHub.txt
  docs/themes/Solarized_(dark).txt
  docs/themes/Solarized_(light).txt
  docs/themes/base16-eighties.dark.txt
  docs/themes/base16-mocha.dark.txt
  docs/themes/base16-ocean.dark.txt
  docs/themes/base16-ocean.light.txt
  examples/theme-showcase.rs
  homebrew-tap-setup/.github/workflows/test.yml
  homebrew-tap-setup/tap-README.md
  issues/ISSUE_CLI_MISMATCH.md
  scripts/generate-theme-showcase.sh
Due: cargo-fmt, cargo-clippy, cargo-test

fix: address post-merge review findings from PR #193
  CLAUDE.md
  README.md
  demo.sh
  scripts/benchmark.sh
  src/summarizer.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix: address remaining Copilot review comments on #195
  README.md
  scripts/benchmark.sh
Due: none

fix: address post-merge review findings from PR #193 (#195)
  CLAUDE.md
  README.md
  demo.sh
  scripts/benchmark.sh
  src/summarizer.rs
Due: cargo-fmt, cargo-clippy, cargo-test

release 0.7.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: cargo-check

release 0.7.0 (#196)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: cargo-check

chore(deps): reduce duplicate syn versions in lockfile
  Cargo.lock
  Cargo.toml
Due: cargo-check

chore(deps): reduce duplicate syn versions in lockfile (#201)
  Cargo.lock
  Cargo.toml
Due: cargo-check

fix(processor): remove redundant line-buffer clone
  src/processor.rs
Due: cargo-fmt, cargo-clippy, cargo-test

test: cover IndexFormatter/ErrorFormatter JSON output paths
  CHANGELOG.md
  src/formatters/error_formatter.rs
  src/formatters/index_formatter.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(main): make directory-index walk iterative, not recursive
  CHANGELOG.md
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix: address performance, robustness, and coverage findings from project audit (#205)
  CHANGELOG.md
  src/formatters/error_formatter.rs
  src/formatters/index_formatter.rs
  src/main.rs
  src/processor.rs
Due: cargo-fmt, cargo-clippy, cargo-test

ci: allow LGPL-3.0 in dependency-review license check
  .github/workflows/security.yml
Due: none

ci: allow LGPL-3.0 in dependency-review license check (#209)
  .github/workflows/security.yml
Due: none
