Repository docdyhr/batless: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, cargo-check

cargo-fmt:
  name: Cargo format
  entry: cargo fmt -- --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: Cargo clippy
  entry: cargo clippy -- -D warnings
  language: system
  pass_filenames: false

cargo-test:
  name: Cargo test
  entry: cargo test --lib --quiet
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-check:
  name: Cargo check
  entry: cargo check
  language: system
  pass_filenames: false

feat(ci): Comprehensive CI/CD pipeline optimization and monitoring system
  .github/scripts/ci-health-check.sh
  .github/scripts/pipeline-health-check.sh
  .github/scripts/workflow-performance-monitor.sh
  .github/workflows/ci-optimized.yml
  .github/workflows/ci.yml
  .github/workflows/performance-optimized.yml
  CI_OPTIMIZATION_SUMMARY.md
  Cargo.lock
  ci-pipeline-report.md
  pipeline_metrics.json
Due: cargo-check

chore: Update TODO.md and cleanup repository post CI optimization
  TODO.md
  ci-pipeline-report.md
  pipeline_metrics.json
Due: none

fix(ci): Fix YAML syntax error and generate pipeline status report
  .github/workflows/quality-consolidated.yml
  PIPELINE_STATUS_REPORT.md
Due: none

feat(ci): Implement comprehensive workflow consolidation and safe testing
  .github/workflows/ci-optimized.yml
  .github/workflows/cross-platform-validation.yml
  .github/workflows/docker-improved.yml
  .github/workflows/performance-consolidated.yml
  .github/workflows/performance-optimized.yml
  WORKFLOW_CONSOLIDATION_PLAN.md
Due: none

feat(ci): Deploy optimized CI/CD workflows to production
  .github/workflows/ci-optimized.yml
  .github/workflows/cross-platform-validation.yml
  .github/workflows/performance-optimized.yml
  .github/workflows/test-consolidated.yml
  .github/workflows/testing.yml
  OPTIMIZATION_TEST_RESULTS.md
  PRODUCTION_DEPLOYMENT_SUMMARY.md
Due: none

fix(ci): Fix GitHub badges and implement comprehensive pipeline monitoring
  .github/scripts/auto-fix-pipeline.sh
  .github/scripts/pipeline-health-monitor.sh
  .github/workflows/quality-consolidated.yml
  CICD_PIPELINE_HEALTH_REPORT.md
  README.md
Due: none

feat(ci): Add comprehensive monitoring system and organize reports
  .github/scripts/collect-metrics.sh
  .gitignore
  reports/status/COMPREHENSIVE_CICD_STATUS_REPORT.md
  reports/status/PIPELINE_METRICS_REPORT.md
Due: none

feat(ci): Implement comprehensive CI/CD pipeline optimization and monitoring
  .github/scripts/auto-fix-pipeline.sh
  .github/scripts/pipeline-health-monitor.sh
  .github/scripts/workflow-performance-monitor.sh
  .github/workflows/ci-unified.yml
  Cargo.lock
  pipeline-health-report.md
Due: cargo-check

fix(docs): Update GitHub badges to reflect active CI/CD workflows
  README.md
Due: none

deps: Update all dependencies to latest compatible versions
  Cargo.lock
Due: cargo-check

feat(ci): Add CI health monitoring and GitHub Actions update strategy
  .github/scripts/ci-health-monitor.sh
  .github/workflows/performance-tuning-config.yml
  docs/GITHUB_ACTIONS_UPDATE_STRATEGY.md
Due: none

docs: Add philosophy guide and middle-ground UX improvement plan
  docs/IMPROVED_ERROR_MESSAGES_PLAN.md
  docs/PHILOSOPHY_AND_SCOPE.md
Due: none

deps: Update all dependencies to latest compatible versions (#56)
  Cargo.lock
Due: cargo-check

deps: Update all dependencies to latest compatible versions (#56)
  Cargo.lock
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-check

fix: Apply markdown lint fixes
  .github/RELEASE_CHECKLIST.md
  CICD_PIPELINE_HEALTH_REPORT.md
  CI_OPTIMIZATION_SUMMARY.md
  OPTIMIZATION_TEST_RESULTS.md
  PIPELINE_STATUS_REPORT.md
  PRODUCTION_DEPLOYMENT_SUMMARY.md
  WORKFLOW_CONSOLIDATION_PLAN.md
  docs/GITHUB_ACTIONS_UPDATE_STRATEGY.md
  docs/IMPROVED_ERROR_MESSAGES_PLAN.md
  docs/PHILOSOPHY_AND_SCOPE.md
  pipeline-health-report.md
  reports/status/COMPREHENSIVE_CICD_STATUS_REPORT.md
  reports/status/PIPELINE_METRICS_REPORT.md
Due: none

feat: Helpful error messages for unsupported features (v0.3.1) (#58)
  .github/RELEASE_CHECKLIST.md
  CICD_PIPELINE_HEALTH_REPORT.md
  CI_OPTIMIZATION_SUMMARY.md
  OPTIMIZATION_TEST_RESULTS.md
  PIPELINE_STATUS_REPORT.md
  PRODUCTION_DEPLOYMENT_SUMMARY.md
  WORKFLOW_CONSOLIDATION_PLAN.md
  docs/GITHUB_ACTIONS_UPDATE_STRATEGY.md
  docs/IMPROVED_ERROR_MESSAGES_PLAN.md
  docs/PHILOSOPHY_AND_SCOPE.md
  pipeline-health-report.md
  reports/status/COMPREHENSIVE_CICD_STATUS_REPORT.md
  reports/status/PIPELINE_METRICS_REPORT.md
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-test

release: v0.3.1 - Improved UX and CI/CD optimization
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  completions/_batless
  completions/batless.bash
  completions/batless.fish
  completions/batless.ps1
Due: cargo-check

ci(deps): Phase 1 - Safe GitHub Actions updates
  .github/workflows/cross-platform-validation.yml
  .github/workflows/fuzz.yml
  .github/workflows/health-check.yml
  .github/workflows/performance-consolidated.yml
  .github/workflows/quality.yml
  .github/workflows/release-consolidated.yml
  .github/workflows/security.yml
  .github/workflows/testing.yml
  GITHUB_ACTIONS_UPDATE_PLAN.md
Due: none

ci(deps): Phase 1 - Safe GitHub Actions updates (#61)
  .github/workflows/cross-platform-validation.yml
  .github/workflows/fuzz.yml
  .github/workflows/health-check.yml
  .github/workflows/performance-consolidated.yml
  .github/workflows/quality.yml
  .github/workflows/release-consolidated.yml
  .github/workflows/security.yml
  .github/workflows/testing.yml
  GITHUB_ACTIONS_UPDATE_PLAN.md
Due: none

chore: add performance benchmark files to .gitignore and create next steps guide
  .gitignore
  NEXT_STEPS.md
Due: none

chore: remove benchmark_current.txt from git tracking
  benchmark_current.txt
Due: none

docs: update NEXT_STEPS.md to reflect all completed actions
  NEXT_STEPS.md
Due: none

chore: update roadmap and fix performance workflow
  .github/workflows/performance-consolidated.yml
  ROADMAP.md
Due: none

fix: correct heredoc delimiters in quality.yml workflow
  .github/workflows/quality.yml
Due: none

deps: apply dependency updates and GitHub Actions upgrades
  .github/workflows/changelog.yml
  .github/workflows/ci-unified.yml
  .github/workflows/ci.yml
  .github/workflows/cross-platform-validation.yml
  .github/workflows/fuzz.yml
  .github/workflows/health-check.yml
  .github/workflows/quality-consolidated.yml
  .github/workflows/quality.yml
  .github/workflows/release-consolidated.yml
  .github/workflows/release-v2.yml
  .github/workflows/security.yml
  .github/workflows/testing.yml
  Cargo.lock
Due: cargo-check

fix: use EOF delimiters in quality.yml for YAML compatibility
  .github/workflows/quality.yml
Due: none

release: bump version to v0.3.2
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: cargo-check

fix: add musl-tools installation for musl builds
  .github/workflows/release-consolidated.yml
Due: none

docs: add shell completion examples and expand CLAUDE.md use cases
  CLAUDE.md
  README.md
Due: none

refactor: fix clippy warning and consolidate documentation
  docs/DEVELOPMENT_ROADMAP.md
  docs/PERFORMANCE_REPORT.md
  docs/archive/CICD_PIPELINE_HEALTH_REPORT.md
  docs/archive/CI_OPTIMIZATION_SUMMARY.md
  docs/archive/OPTIMIZATION_TEST_RESULTS.md
  docs/archive/PIPELINE_STATUS_REPORT.md
  docs/archive/PRODUCTION_DEPLOYMENT_SUMMARY.md
  docs/archive/pipeline-health-report.md
  docs/archive/pr_comment.md
  docs/plain_bench.md
  docs/planning/GITHUB_ACTIONS_UPDATE_PLAN.md
  docs/planning/NEXT_STEPS.md
  docs/planning/PRD.md
  docs/planning/WORKFLOW_CONSOLIDATION_PLAN.md
  src/error.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix: update MSRV to 1.77.0 and fix workflow issues
  .github/workflows/test-consolidated.yml
  .github/workflows/testing.yml
  Cargo.toml
Due: cargo-check

refactor: enhance summary mode with improved code extraction and configurability
  src/config.rs
  src/formatter.rs
  src/json_schema.rs
  src/main.rs
  src/processor.rs
  src/processor_builder.rs
  src/summarizer.rs
  src/traits.rs
  tests/integration_tests.rs
  tests/property_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test

docs: add color theme showcase to README
  README.md
  docs/themes/InspiredGitHub.txt
  docs/themes/Solarized_(dark).txt
  docs/themes/Solarized_(light).txt
  docs/themes/base16-eighties.dark.txt
  docs/themes/base16-mocha.dark.txt
  docs/themes/base16-ocean.dark.txt
  docs/themes/base16-ocean.light.txt
  examples/theme-showcase.rs
  scripts/generate-theme-showcase.sh
Due: cargo-fmt, cargo-clippy, cargo-test

Improve JSON output fidelity and config overrides
  CLAUDE.md
  README.md
  examples/theme-showcase.rs
  src/config_manager.rs
  src/file_info.rs
  src/formatter.rs
  src/json_schema.rs
  src/processor.rs
  src/streaming.rs
  src/tokens/extraction.rs
  tests/integration_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Update dependencies via cargo update
  Cargo.lock
Due: cargo-check

Refresh TODO with maintenance backlog
  TODO.md
Due: none

ci(deps): bump the github-actions group with 2 updates
  .github/workflows/changelog.yml
  .github/workflows/ci-optimized.yml
  .github/workflows/ci-unified.yml
  .github/workflows/ci.yml
  .github/workflows/cross-platform-validation.yml
  .github/workflows/docker-improved.yml
  .github/workflows/fuzz.yml
  .github/workflows/health-check.yml
  .github/workflows/performance-consolidated.yml
  .github/workflows/performance-optimized.yml
  .github/workflows/quality-consolidated.yml
  .github/workflows/quality.yml
  .github/workflows/release-consolidated.yml
  .github/workflows/release-v2.yml
  .github/workflows/security.yml
  .github/workflows/tag-after-release-pr.yml
  .github/workflows/test-consolidated.yml
  .github/workflows/testing.yml
  .github/workflows/update-homebrew.yml
Due: none

fix(ci): resolve CI/CD workflow failures
  .github/workflows/quality-consolidated.yml
  .github/workflows/quality.yml
  .github/workflows/security.yml
  .markdownlint-cli2.jsonc
Due: none

fix(ci): improve security workflow resilience
  .github/config/performance-tuning-config.yml
  .github/workflows/security.yml
Due: none

fix(ci): disable push/PR triggers on cross-platform workflow
  .github/workflows/cross-platform-validation.yml
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-check: any of: Cargo\.(toml|lock)$
