Repository docdyhr/batless: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, cargo-check

.pre-commit-config.yaml:

default_language_version:
  python: python3
  node: system

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: '^\.github/workflows/'
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-toml
      - id: check-json
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Rust-specific checks
  - repo: local
    hooks:
      - id: cargo-fmt
        name: Cargo format
        entry: cargo fmt -- --check
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-clippy
        name: Cargo clippy
        entry: cargo clippy -- -D warnings
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-test
        name: Cargo test
        entry: cargo test --lib --quiet
        language: system
        files: '\.rs$'
        pass_filenames: false
        stages: [pre-push]

      - id: cargo-check
        name: Cargo check
        entry: cargo check
        language: system
        files: 'Cargo\.(toml|lock)$'
        pass_filenames: false

  # Markdown checks (temporarily disabled for commit)
  # - repo: https://github.com/igorshubovych/markdownlint-cli
  #   rev: v0.41.0
  #   hooks:
  #     - id: markdownlint
  #       args: ['--fix']
  #       exclude: '^(CHANGELOG\.md|\.github/.*\.md)$'

  # Security scanning
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: '^(Cargo\.lock|.*\.lock)$'

fix: revert no-op Cargo.lock churn, correct allow-attribute rationale
  Cargo.lock
  src/lib.rs
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-check

fix: correct multiple_crate_versions rationale comment accuracy
  src/lib.rs
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Resolve clippy `multiple_crate_versions` false positive from target-only `syn` split (#213)
  src/lib.rs
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-test

CI: remove stale streaming integration test target from consolidated workflow (#212)
  .github/workflows/test-consolidated.yml
Due: none

ci(dependabot): group GitHub Actions SHA-pin bumps
  .github/dependabot.yml
  CHANGELOG.md
Due: none

ci(dependabot): group GitHub Actions SHA-pin bumps (#225)
  .github/dependabot.yml
  CHANGELOG.md
Due: none

ci(dependabot): remove retired reviewers option
  .github/dependabot.yml
  CHANGELOG.md
Due: none

ci(dependabot): remove retired reviewers option (#227)
  .github/dependabot.yml
  CHANGELOG.md
Due: none

fix: raise MSRV to 1.88.0 and fix clippy assert_is_empty in tests
  .github/workflows/test-consolidated.yml
  CHANGELOG.md
  Cargo.toml
  src/config.rs
  src/language.rs
  src/lib.rs
  src/summarizer.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-check

fix: make FileInfo::is_success and processed_lines const fn
  CHANGELOG.md
  src/file_info.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix: raise MSRV to 1.88.0 and fix clippy assert_is_empty in tests (#228)
  .github/workflows/test-consolidated.yml
  CHANGELOG.md
  Cargo.toml
  src/config.rs
  src/file_info.rs
  src/language.rs
  src/lib.rs
  src/summarizer.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-check

ci: pin shared workflows to 364c7e1 and gate PRs on MSRV 1.88.0
  .github/workflows/ci-optimized.yml
  .github/workflows/codeql.yml
  .github/workflows/cross-platform-validation.yml
  .github/workflows/health-check.yml
  .github/workflows/performance-consolidated.yml
  .github/workflows/quality-consolidated.yml
  .github/workflows/release-consolidated.yml
  .github/workflows/security.yml
  .github/workflows/test-consolidated.yml
  CHANGELOG.md
Due: none

ci: pin shared workflows to 364c7e1 and gate PRs on MSRV 1.88.0 (#229)
  .github/workflows/ci-optimized.yml
  .github/workflows/codeql.yml
  .github/workflows/cross-platform-validation.yml
  .github/workflows/health-check.yml
  .github/workflows/performance-consolidated.yml
  .github/workflows/quality-consolidated.yml
  .github/workflows/release-consolidated.yml
  .github/workflows/security.yml
  .github/workflows/test-consolidated.yml
  CHANGELOG.md
Due: none

chore: release v0.7.1
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  ROADMAP.md
Due: cargo-check

chore: release v0.7.1 (#230)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  ROADMAP.md
Due: cargo-check

fix: strip symbols from release binaries
  CHANGELOG.md
  Cargo.toml
  README.md
  docs/DEVELOPMENT_GUIDE.md
Due: cargo-check

docs: align ROADMAP with v0.7 scope and fix Homebrew install command
  CHANGELOG.md
  README.md
  ROADMAP.md
Due: none

fix: strip symbols from release binaries (#231)
  CHANGELOG.md
  Cargo.toml
  README.md
  docs/DEVELOPMENT_GUIDE.md
Due: cargo-check

docs: align ROADMAP with v0.7 scope and fix Homebrew install command (#232)
  CHANGELOG.md
  README.md
  ROADMAP.md
Due: none

docs: replace stale release docs with the real publishing flow
  CHANGELOG.md
  CONTRIBUTING.md
  RELEASE.md
  docs/HOMEBREW_AUTOMATION.md
  docs/PUBLISHING.md
  homebrew-tap-setup/.github/workflows/test.yml
  homebrew-tap-setup/Formula/batless.rb
  homebrew-tap-setup/README.md
  homebrew-tap-setup/tap-README.md
Due: none

docs: replace stale release docs with the real publishing flow (#233)
  CHANGELOG.md
  CONTRIBUTING.md
  RELEASE.md
  docs/HOMEBREW_AUTOMATION.md
  docs/PUBLISHING.md
  homebrew-tap-setup/.github/workflows/test.yml
  homebrew-tap-setup/Formula/batless.rb
  homebrew-tap-setup/README.md
  homebrew-tap-setup/tap-README.md
Due: none

test: let version-json test pass when built outside a git checkout
  tests/integration_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test

build: allowlist published crate files and remove obsolete release scripts
  CHANGELOG.md
  Cargo.toml
  scripts/diagnose-release.sh
  scripts/publish-crates-io.sh
Due: cargo-check

build: allowlist published crate files and remove obsolete release scripts (#234)
  CHANGELOG.md
  Cargo.toml
  scripts/diagnose-release.sh
  scripts/publish-crates-io.sh
  tests/integration_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-check

chore: release v0.7.2
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  ROADMAP.md
Due: cargo-check

chore: release v0.7.2 (#235)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  ROADMAP.md
Due: cargo-check

ci: pin shared workflows to 98e09a1 for full release notes
  .github/workflows/ci-optimized.yml
  .github/workflows/codeql.yml
  .github/workflows/cross-platform-validation.yml
  .github/workflows/health-check.yml
  .github/workflows/performance-consolidated.yml
  .github/workflows/quality-consolidated.yml
  .github/workflows/release-consolidated.yml
  .github/workflows/security.yml
  .github/workflows/test-consolidated.yml
  CHANGELOG.md
Due: none

ci: pin shared workflows to 98e09a1 for full release notes (#236)
  .github/workflows/ci-optimized.yml
  .github/workflows/codeql.yml
  .github/workflows/cross-platform-validation.yml
  .github/workflows/health-check.yml
  .github/workflows/performance-consolidated.yml
  .github/workflows/quality-consolidated.yml
  .github/workflows/release-consolidated.yml
  .github/workflows/security.yml
  .github/workflows/test-consolidated.yml
  CHANGELOG.md
Due: none

chore: release v0.7.3
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  ROADMAP.md
Due: cargo-check

chore: release v0.7.3 (#237)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  ROADMAP.md
Due: cargo-check
